@using TODO.PersistObject.models
@using System.Data.Linq
@model List<TODO_Users>
<link rel="stylesheet" href="@Url.Content("~/Content/css/datepicker.css")" />
<div id="content-header">
	<h1>任务管理</h1>
</div>
<div id="breadcrumb">
</div>
<div class="container-fluid">
    <div class="row-fluid">
		<div class="span12">
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon">
						<i class="icon-align-justify"></i>									
					</span>
					<h5>新增任务</h5>
				</div>
				<div class="widget-content nopadding">
					@using (Html.BeginForm("Create", "Task", FormMethod.Post, new { @class = "form-horizontal", id = "create" }))
                    {           
						<div class="control-group">
							<label class="control-label">任务名:</label>
							<div class="controls">
								<input name="TaskName" type="text" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">任务种类:</label>
							<div class="controls">
								<select name="TaskType">
								    <option>固定任务</option>
								    <option>周期任务</option>
								    <option>考核任务</option>
							    </select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">优先级:</label>
							<div class="controls">
								<select name="Priority">
								    <option value="1">1</option>
								    <option value="2">2</option>
								    <option value="3">3</option>
								    <option value="4">4</option>
								    <option value="5">5</option>
								    <option value="6">6</option>
								    <option value="7">7</option>
								    <option value="8">8</option>
								    <option value="9">9</option>
							    </select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">要求完成时间:</label>
							<div class="controls">
								<input name="TaskDeadLine" id="TaskDeadLine" type="text" data-date="" data-date-format="yyyy/mm/dd" value="" class="datepicker" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">任务简述:</label>
							<div class="controls">
								<textarea name="TaskRemark"></textarea>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">负责人:</label>
							<div class="controls">
								<select name="TaskExecutor" id="TaskExecutor" style="width:80%" class="multiple__select" multiple="">
                                @foreach (var obj in Model)
                                {
									<option value="@obj.ID">@obj.PersonName</option>
                                }
								</select>
                               @* @foreach (var obj in Model)
                                {
                                    <label><input type="checkbox" value="@obj.ID" name="TaskExecutor_1" />@obj.PersonName</label>
                                }*@
							</div>
						</div>
                        <div class="control-group">
							<label class="control-label">任务节点:</label>
							<div class="controls">
								<textarea name="NodeRemark"></textarea>
                                <input type="button" class="btn btn-success" value="新增任务节点" onclick="CreateTaskNode(this)" />
							</div>
						</div>
						<div class="form-actions">
							<input type="submit" class="btn btn-primary" value="保存" />
                            <input type="button" onclick="SaveAndAssign()" style="margin-left:20px" class="btn btn-warning" value="保存并分配" />
                            <input type="hidden" name="TaskStatus" id="TaskStatus" value="0" />
						</div>
                    }
				</div>
			</div>						
		</div>
	</div>
    
</div>
<script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap-datepicker.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/jquery.validate.js")"></script>
<script type="text/javascript">
    function SaveAndAssign(){
        if($("#TaskExecutor").val() == null)
        {
            alert("请选择处理人！");
            return ;
        }
        if($("#TaskDeadLine").val() == null)
        {
            alert("要求完成时间！");
            return ;
        }
        $("#TaskStatus").val("1");
        $("#create").submit();
    }
    function CreateTaskNode(btn){
         if ($(btn).hasClass('btn-success')) {
                var next = $(btn).parent().parent().clone();
                var nextarea = next.find("textarea");
                nextarea.val('');
                $(btn).parent().parent().after(next);
                $(btn).removeClass('btn-success').addClass('btn-danger');
                $(btn).val("删除任务节点");
                nextarea.focus();
            }
            else {
                if (!$(btn).parent().parent().next().find("input").hasClass('btn-danger')&&!$(btn).parent().parent().next().find("input").hasClass('btn-success')) {
                        $(btn).removeClass('btn-danger').addClass('btn-success');
                        $(btn).val("新增任务节点");
                }
                $(btn).parent().parent().remove();
            }
    }
    $(document).ready(function () {
        $("#create").validate({
            rules: {
                TaskName: {
                    required: true
                },
            },
            errorClass: "help-inline",
            errorElement: "span",
            highlight: function (element, errorClass, validClass) {
                $(element).parents('.control-group').addClass('error');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).parents('.control-group').removeClass('error');
            }
        });
        $('input[type=checkbox]').uniform();
        $('.datepicker').datepicker();
        $('.multiple__select').select2();
    });
</script>