@using TODO.PersistObject.models
@using System.Data.Linq
@model List<TODO_Users>
<link rel="stylesheet" href="@Url.Content("~/Content/css/datepicker.css")" />
<div id="content-header">
	<h1>任务管理</h1>
</div>
<div id="breadcrumb">
</div>
<div class="container-fluid">
    <div class="row-fluid">
		<div class="span12">
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon">
						<i class="icon-align-justify"></i>									
					</span>
					<h5>新增任务</h5>
				</div>
				<div class="widget-content nopadding">
					@using (Html.BeginForm("Create", "Task", FormMethod.Post, new { @class = "form-horizontal", id = "create" }))
                    {           
						<div class="control-group">
							<label class="control-label">任务名:</label>
							<div class="controls">
								<input class="auto_complate_item_subject" name="TaskName" type="text" />
                                <input type="button" class="small-btn btn-success" value="保存" onclick="SaveDesc(this, '任务名')" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">任务种类:</label>
							<div class="controls">
								<select name="TaskType">
								    @*<option>固定任务</option>
								    <option>周期任务</option>*@
								    <option>日常任务</option>
							    </select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">工作类别:</label>
							<div class="controls">
                            @Html.DropDownList("WorkType", null, new { })
								@*<select name="WorkType">
								    <option>信息中心</option>
								    <option>信息化建设与应用工作</option>
								    <option>工程建设</option>
								    <option>安保工作</option>
								    <option>政工工作</option>
								    <option>其他工作</option>
							    </select>*@
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">分管领导:</label>
							<div class="controls">
                            @Html.DropDownList("LeaderList", null, new { })
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">优先级:</label>
							<div class="controls">
                            @Html.DropDownList("PriorityType", null, new { })
								@*<select name="Priority">
								    <option value="1">1</option>
								    <option value="2">2</option>
								    <option value="3">3</option>
								    <option value="4">4</option>
								    <option value="5">5</option>
							    </select>*@
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">要求完成时间:</label>
							<div class="controls">
								<input name="TaskDeadLine" id="TaskDeadLine" type="text" data-date="" data-date-format="yyyy/mm/dd" value="" class="datepicker" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">任务简述:</label>
							<div class="controls">
								<textarea name="TaskRemark"></textarea>
							</div>
						</div>
                                 <div>
                                  <label><input id="cbx_showdetail" type="checkbox" checked onclick="toggleDetail()" />没有子任务, 直接分配
  </label>
                        </div>
        
                       <div id="detail_div">
                        
						<div class="control-group">
							<label class="control-label">负责人:</label>
							<div class="controls">
								<select name="TaskExecutor" id="TaskExecutor" style="width:80%" class="multiple__select" multiple="">
                                @foreach (var obj in Model)
                                {
									<option value="@obj.ID">@obj.PersonName</option>
                                }
								</select>
							</div>
						</div>
                        <div class="control-group">
							<label class="control-label">工作要求:</label>
							<div class="controls">
								<textarea class="auto_complate_item_node" name="NodeRemark"></textarea>
                                <input type="button" class="btn btn-success" value="新增工作要求" onclick="CreateTaskNode(this)" />
                                <input type="button" class="small-btn btn-success" value="保存" onclick="SaveDesc(this, '工作要求')" />
							</div>
						</div>
                        </div>
						<div class="form-actions">
							<input type="button" onclick="Save()"  class="btn btn-primary" value="保存" />
                            <input id="approve_ipt" type="button" onclick="SaveAndAssign()" style="margin-left:20px" class="btn btn-warning" value="保存并分配" />
                            <input type="hidden" name="TaskStatus" id="TaskStatus" value="0" />
						</div>
                    }
				</div>
			</div>						
		</div>
	</div>
    
</div>
<script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap-datepicker.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/jquery.validate.js")"></script>
<script type="text/javascript">
function toggleDetail()
{
$("#detail_div").toggle();
$("#approve_ipt").toggle();
}
function Save()
{
    if($("#cbx_showdetail").attr("checked")!="checked"){
            $("#TaskExecutor").val("");    
            $('textarea[name="NodeRemark"]').each(function(i){
                    $( this ).val("");
                });
    }

    $("#create").submit();
}
    function SaveAndAssign(){
        if($("#TaskExecutor").val() == null)
        {
            alert("请选择处理人！");
            return ;
        }
        if($("#TaskDeadLine").val() == null|| $("#TaskDeadLine").val() == "" )
        {
            alert("要求完成时间！");
            return ;
        }
        if(confirm("确认分配吗，提交后将不能新增子任务和修改")){
            $("#TaskStatus").val("1");
            $("#create").submit();
        }
    }
    function SaveDesc(btn, type)
    {
        var a = $(btn).parent();
        var desc = $(a.children()[0]).val()
        if(desc == ""){
            alert("请输入"+type);
            return;
        }
        if(!confirm("确定要保存么？"))
            return;
         var url = "/Desc/SaveDesc";
         $.post(url, { desc: desc, type: type}, function (data) {
             if (data.status == "success") {
                 alert("保存成功！");
             }
             else {
                 alert(data.data);
             }
         }, "json");
    }
    function CreateTaskNode(btn){
         if ($(btn).hasClass('btn-success')) {
                var next = $(btn).parent().parent().clone();
                var nextarea = next.find("textarea");
                nextarea.val('');
                $(btn).parent().parent().after(next);
                $(btn).removeClass('btn-success').addClass('btn-danger');
                $(btn).val("删除工作要求");
                nextarea.focus();
            }
            else {
                if (!$(btn).parent().parent().next().find("input").hasClass('btn-danger')&&!$(btn).parent().parent().next().find("input").hasClass('btn-success')) {
                        $(btn).removeClass('btn-danger').addClass('btn-success');
                        $(btn).val("新增工作要求");
                }
                $(btn).parent().parent().remove();
            }
          $( ".auto_complate_item_node" ).autocomplete({
          source: function( request, response ) {
            $.ajax({
              url: "/Task/GetDescList",
              dataType: "json",
              data: {
                type: "工作要求",
                startsWith: request.term
              },
              success: function( data ) {
                response( data );
              }
            });
          },
          minLength: 2
        });
    }
    $(document).ready(function () {
        $("#create").validate({
            rules: {
                TaskName: {
                    required: true
                },
                TaskDeadLine: {
                    required: true,
                    date: true
                },
            },
            errorClass: "help-inline",
            errorElement: "span",
            highlight: function (element, errorClass, validClass) {
                $(element).parents('.control-group').addClass('error');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).parents('.control-group').removeClass('error');
            }
        });
        $('input[type=checkbox]').uniform();
        $('.datepicker').datepicker();
        $('.multiple__select').select2();
       
        $( ".auto_complate_item_subject" ).autocomplete({
          source: function( request, response ) {
            $.ajax({
              url: "/Task/GetDescList",
              dataType: "json",
              data: {
                type: "任务名",
                startsWith: request.term
              },
              success: function( data ) {
                response( data );
              }
            });
          },
          minLength: 2
        });
        $( ".auto_complate_item_node" ).autocomplete({
          source: function( request, response ) {
            $.ajax({
              url: "/Task/GetDescList",
              dataType: "json",
              data: {
                type: "工作要求",
                startsWith: request.term
              },
              success: function( data ) {
                response( data );
              }
            });
          },
          minLength: 2
        });
    });
</script>