@using TODO.PersistObject.models
@model TODO_Tasks
<link rel="stylesheet" href="@Url.Content("~/Content/css/datepicker.css")" />
<div id="content-header">
	<h1>任务管理</h1>
</div>
<div id="breadcrumb">
</div>
<div class="container-fluid">
    <div class="row-fluid">
		<div class="span12">
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon">
						<i class="icon-align-justify"></i>									
					</span>
					<h5>修改任务 @if (Model.OriginalTask != null)
              {@Html.Raw("（本任务由") <a target="_blank" href="@Url.Action("Detail", "Task", new { id = @Model.OriginalTask.ID })">@Model.OriginalTask.TaskName</a> @Html.Raw("复制生成。）")} </h5>
				</div>
				<div class="widget-content nopadding">
					@using (Html.BeginForm("Edit", "Task", FormMethod.Post, new { @class = "form-horizontal", id = "create" }))
     {           
						<div class="control-group">
							<label class="control-label">任务名:</label>
							<div class="controls">
								<input name="TaskName" value="@Model.TaskName" type="text" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">任务种类:</label>
							<div class="controls">
								<select name="TaskType" id="TaskType">
								    @*<option>固定任务</option>
								    <option>周期任务</option>*@
								    <option>考核任务</option>
							    </select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">工作类别:</label>
							<div class="controls">
                            @Html.DropDownList("WorkType", null, new { })
								@*<select name="WorkType" id="WorkType">
								    <option>信息中心</option>
								    <option>信息化建设与应用工作</option>
								    <option>工程建设</option>
								    <option>安保工作</option>
								    <option>政工工作</option>
								    <option>其他工作</option>
							    </select>*@
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">汇报领导:</label>
							<div class="controls">
                            @Html.DropDownList("LeaderList", null, new { })
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">优先级:</label>
							<div class="controls">
								<select name="Priority" id="Priority">
								    <option value="1">1</option>
								    <option value="2">2</option>
								    <option value="3">3</option>
								    <option value="4">4</option>
								    <option value="5">5</option>
							    </select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">要求完成时间:</label>
							<div class="controls">
								<input name="TaskDeadLine" type="text" data-date="" data-date-format="yyyy/mm/dd"  value="@Model.TaskDeadLine" class="datepicker" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">任务简述:</label>
							<div class="controls">
								<textarea name="TaskRemark">@Model.TaskRemark</textarea>
							</div>
						</div>
                                          <div>
                                  <label><input id="cbx_showdetail" type="checkbox"                                   
                                  @if (Model.TODO_Task_User.Count > 0 || Model.Parent_Task != null)
                                  { 
                                      @Html.Raw("checked disabled"); 
                                      @Html.Raw("checked ");
                                                           if (Model.Parent_Task != null)
                                                           {
                                       @Html.Raw("disabled ");
                                                           }
                                  }
                                  else if (Model.Child_Tasks.Count > 0)
                                  {
                                      @Html.Raw("disabled");
                                  }
                                  else
                                  {
                                      @Html.Raw("checked");
                                  }
                                  onclick="toggleDetail()" />没有子任务, 直接分配
  </label>
                        </div>
        
                       <div id="detail_div">
						<div class="control-group">
							<label class="control-label">负责人:</label>
							<div class="controls">
                            @Html.ListBox("TaskExecutor", null, new { @class = "multiple__select", style = "width:80%", multiple = "" })
							</div>
						</div>
                        @foreach (var node in ViewData["nodelist"] as List<TODO_TaskNodes>)
                        {
                        <div class="control-group">
                            <label class="control-label">任务节点:</label>
							<div class="controls">
								<textarea name="NodeRemark">@node.NodeName</textarea>
                                <input type="button" class="btn btn-danger" value="删除任务节点" onclick="CreateTaskNode(this)" />
							</div>
						</div>
                        }
                        <div class="control-group">
                            <label class="control-label">任务节点:</label>
							<div class="controls">
								<textarea name="NodeRemark"></textarea>
                                <input type="button" class="btn btn-success" value="新增任务节点" onclick="CreateTaskNode(this)" />
							</div>
						</div>
                         </div>
                        if (@Model.TaskStatus == 0 && @Model.Child_Tasks.Count == 0)
                        {
						<div class="form-actions">
							<input type="button" onclick="Save()"  class="btn btn-primary" value="保存" />
                            <input type="button" id="approve_ipt" onclick="SaveAndAssign()" style="margin-left:20px" class="btn btn-warning" value="保存并分配" />
                            <input type="hidden" name="TaskStatus" id="TaskStatus" value="@Model.TaskStatus" />
						</div>
                        }
     }
				</div>
			</div>						
		</div>
	</div>
    
</div>
<script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap-datepicker.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/jquery.validate.js")"></script>
<script type="text/javascript">
function toggleDetail()
{
    $("#detail_div").toggle();
    $("#approve_ipt").toggle();
}
function Save()
{
    if($("#cbx_showdetail").attr("checked")!="checked"){
            $("#TaskExecutor").val("");    
            $('textarea[name="NodeRemark"]').each(function(i){
                    $( this ).val("");
                });
    }

    $("#create").submit();
}
    function SaveAndAssign(){
        if($("#TaskExecutor").val() == null)
        {
            alert("请选择处理人！");
            return ;
        }
        if(confirm("确认分配吗，提交后将不能新增子任务和修改")){
            $("#TaskStatus").val("1");
            $("#create").submit();
        }
    }
    function CreateTaskNode(btn){
         if ($(btn).hasClass('btn-success')) {
                var next = $(btn).parent().parent().clone();
                var nextarea = next.find("textarea");
                nextarea.val('');
                $(btn).parent().parent().after(next);
                $(btn).removeClass('btn-success').addClass('btn-danger');
                $(btn).val("删除任务节点");
                nextarea.focus();
            }
            else {
                if (!$(btn).parent().parent().next().find("input").hasClass('btn-danger')&&!$(btn).parent().parent().next().find("input").hasClass('btn-success')) {
                        $(btn).removeClass('btn-danger').addClass('btn-success');
                        $(btn).val("新增任务节点");
                }
                $(btn).parent().parent().remove();
            }
    }
    $(document).ready(function () {
        $("#TaskType").val("@Model.TaskType");
        //$("#WorkType").val("@Model.WorkType");
        $("#Priority").val("@Model.Priority");
        $("#create").validate({
            rules: {
                TaskName: {
                    required: true
                },
                TaskDeadLine: {
                    required: true,
                    date: true
                },
            },
            errorClass: "help-inline",
            errorElement: "span",
            highlight: function (element, errorClass, validClass) {
                $(element).parents('.control-group').addClass('error');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).parents('.control-group').removeClass('error');
            }
        });
        $('input[type=checkbox]').uniform();
        $('.datepicker').datepicker();
        $('.multiple__select').select2();

        if($("#cbx_showdetail").attr("checked")=="checked"){
            $("#detail_div").show();
            $("#approve_ipt").show();
        }
        else{
            $("#detail_div").hide();
            $("#approve_ipt").hide();
        }

    });
</script>