@model TODO.Models.UserListModel
<script type="text/javascript" src="@Url.Content("~/Content/js/unicorn.tables.js")"></script>
<div id="content-header">
    <h1>
        用户管理</h1>
</div>
@using (Html.BeginForm("Index", "User", FormMethod.Get)){
<div id="breadcrumb">
    <div style="float:left; margin-left:10px; margin-top:10px">
    <b>姓名：</b>
    @Html.TextBoxFor(o => o.PersonName)</div>
    @*<input name="PersonName" type="text" />*@
    <div style="float:left; margin-left:10px; margin-top:10px"><b>是否启用：</b>
    @Html.CheckBoxFor(o => o.IsAvailable)
    <input type="submit" value="查询" class='btn btn-primary'/>
    </div>
    <input type='button' value="新增用户" style="margin-right: 20px;" onclick="location.href='@Url.Action("Create", "User")'"
        class='btn btn-primary subcat_hide' />
</div>
}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <h5>
                    </h5>
                </div>
                <div class="widget-content nopadding">
                    <table id="content-table" class="table table-bordered data-table">
                        <thead>
                            <tr>
                                <th width="150px">
                                    姓名
                                </th>
                                <th>
                                    用户名
                                </th>
                                <th width="150px">
                                    用户权限
                                </th>
                                <th width="150px">
                                    是否启用
                                </th>
                                <th width="70px">
                                    操作
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var obj in Model.UserList)
                            {
                                <tr class="gradeA">
                                    <td>
                                        @obj.PersonName
                                    </td>
                                    <td>
                                        @obj.UserName
                                    </td>
                                    <td>
                                        @if (obj.UserRole == 1)
                                        {
                                            
                                            @Html.Raw("管理员");

                                        }
                                        else
                                        {
                                            @Html.Raw("普通用户");

                                        }
                                    </td>
                                    <td class="center">
                                        @if (obj.IsAvailable)
                                        { @Html.Raw("是");
                                        }
                                        else
                                        { @Html.Raw("否");
                                        }
                                    </td>
                                    <td class="center">
                                        <a href="@Url.Action("Edit", "User", new { id = @obj.ID })">修改 </a>| 
                                        <a onclick="return confirm('确认要删除吗！')" href="@Url.Action("Delete", "User", new { id = @obj.ID })">
                                            删除</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="@Url.Content("~/Content/js/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/common.js")"></script>
<script type="text/javascript">
    function addNewM() {
        document.getElementById("addForm").reset()
        var modeldialog = $("#addNew");
        modeldialog.dialog({
            modal: true,
            autoOpen: false,
            resizable: false,
            width: 495
        });
        modeldialog.dialog('open');
    }
    $(function () {
        $("#usn").click(function () {
            var username = $("#ipt_username").val();
            if (username == "") {
                alert("请输入您要注册的用户名");
                return false;
            }
            else if ($("#ipt_name").val() == "") {
                alert("请输入您要注册的姓名");
                return false;
            }
            else if ($("#ipt_pwd").val() == "") {
                alert("请输入您要注册的密码");
                return false;
            }
            else {
                $.post("/User/IsExistUsn", { usn: username },
                    function (data) {
                        if (data == "-1") {
                            $("#msg").text("很遗憾，该用户已经被注册！");
                            return false;
                        }
                        else {
                            $("#msg").text("恭喜您，该用户还未被注册！");
                            return false;
                        }
                    });
            }
        });
    });
</script>
