@model TODO.Models.TaskMarkListModel
    <script type="text/javascript">
        $(document).ready(function () {

            $('.data-table').dataTable({
                "aaSorting": [[2, "asc"]],
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "sDom": '<""l>t<"F"fp>',
                "bFilter": true,
                "oLanguage": {
                    "sLengthMenu": "每页显示 _MENU_ 条记录",
                    "sZeroRecords": "对不起，查询不到任何相关数据",
                    "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                    "sInfoEmtpy": "找不到相关数据",
                    "sInfoFiltered": "数据表中共为 _MAX_ 条记录)",
                    "sProcessing": "正在加载中...",
                    "sSearch": "搜索",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "第一页",
                        "sPrevious": " 上一页 ",
                        "sNext": " 下一页 ",
                        "sLast": " 最后一页 "
                    }
                },
                "aoColumns": [
			null, null, null, null,
			{ "asSorting": [] }
		]


            });

            $('input[type=checkbox],input[type=radio],input[type=file]').uniform();

            $('select').not("#StatusList").select2();

            $("span.icon input:checkbox, th input:checkbox").click(function () {
                var checkedStatus = this.checked;
                var checkbox = $(this).parents('.widget-box').find('tr td:first-child input:checkbox');
                checkbox.each(function () {
                    this.checked = checkedStatus;
                    if (checkedStatus == this.checked) {
                        $(this).closest('.checker > span').removeClass('checked');
                    }
                    if (this.checked) {
                        $(this).closest('.checker > span').addClass('checked');
                    }
                });
            });
        });

    </script>
<div id="content-header">
            <h1>任务评分</h1>
        </div>
        <div id="breadcrumb">
        @using (Html.BeginForm("Index", "TaskMarking", FormMethod.Get))
        {
        <div style="float:left; margin-left:10px; margin-top:10px">
                <b style="float:left; margin-top:5px;">任务名称：</b>
                @Html.TextBoxFor(o => o.TaskName, new {style = "float:left;"})</div>
            <div style="float:left; margin-left:10px; margin-top:10px"><b style="float:left; margin-top:5px;">任务状态：</b>
                @*@Html.ListBoxFor(o => o.TaskStatus, Model.StatusList)*@
                @Html.DropDownList("StatusList", null, new { style = "float:left; width:120px" })
                <input type="submit" value="查询" class='btn btn-primary' style="float:left; margin-left:10px;"/>
                </div>
        }
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-title">
                            <h5>
                            </h5>
                        </div>
                        <div class="widget-content nopadding">
                            <table id="content-table" class="table table-bordered data-table">
                                <thead>
                                    <tr>
                                        <th width="150px">
                                            任务名称
                                        </th>
                                        <th width="150px">
                                            分配人
                                        </th>
                                        <th width="150px">
                                            完成时间
                                        </th>
                                        <th width="150px">
                                            分数
                                        </th>
                                        <th width="70px">
                                            操作
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                 @foreach (var obj in Model.TaskList)
                                 {
                                    <tr class="gradeC">
                                        <td>
                                           @obj.TODO_Tasks.TaskName 
                                        </td>
                                        <td>
											@obj.TODO_Users.PersonName
                                        </td>
                                        <td>
                                            @if (@obj.CompleteDate.HasValue)
                                            {@obj.CompleteDate.Value.ToShortDateString()}
                                        </td>
                                        <td>
                                            @obj.Score
                                        </td>
                                        <td class="center">
                                        <a href="@Url.Action("Mark", "TaskMarking", new { id = @obj.ID })">评分</a> @if (obj.Status != 2)
                                                                                                                  {
                                        @Html.Raw("|")<a onclick="return confirm('确认要完成吗！')" href="@Url.Action("Done", "MyTask", new { id = @obj.ID })">
                                            完成</a>}
                                        </td>
                                    </tr>
                                 }
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
